*secrets.json
*data.json
*secrets.do
*client_secret.json
*.pyc
*.csv
*.zip
*.gz
.DS_Store
users
*.sublime-project
*.sublime-workspace
*.xlsx
*.png
*.dta
*.log
ga_config.json
.python-version
venv
.idea
*.iml
